<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add New FLight</title>
    <style type="text/css">
        #sendEmailBtn {
            float: left;
            margin-top: 22px;
        }
    </style>
</head>
<body>

<div class="container my-5">

    <!--if there is an laert message then-->
    <div th:if="${msg}" class="container my-5" >
        <strong th:if="${msg}" th:text="${msg}"></strong>
    </div>

    <h2 class="mb-5">Add a new Flight</h2>
    <br>

    <div class="row">
        <div class="col-md-6">

            <form method="post" th:action="@{/flights/addFlight}">

                <div class="form-group col-md-6">
                    <label for="source" class="col-form-label">From</label>
                    <input type="text" class="form-control" id="source" name="source">
                </div>

                <div class="form-group col-md-6">
                    <label for="destination" class="col-form-label">To</label>
                    <input type="text" class="form-control" id="destination" name="destination">
                </div>

                <div class="form-group col-md-6">
                    <label for="operatingAirlines" class="col-form-label">Operating Airlines</label>
                    <input type="text" class="form-control" id="operatingAirlines" name="operatingAirlines">
                </div>

                <div class="form-group col-md-6">
                    <label for="estimatedDepartureTime" class="col-form-label">Date of Departure</label>
                    <input type="text" class="form-control" id="dateOfDeparture" name="dateOfDeparture">
                </div>

                <div class="form-group col-md-6">
                    <label for="estimatedDepartureTime" class="col-form-label">Estimated Departure</label>
                    <input type="text" class="form-control" id="estimatedDepartureTime" name="estimatedDepartureTime">
                </div>

                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Flight">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</div>

</div>

</body>
</html>