<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>About Page</title>
</head>
<body>
<body>
<div class="container">
    <div class="container" >
        <div class="body-box">
            <div class="container my-5">
                <h2 class="mb-5">Contact</h2>
                <br>
                <form>
                <div class="form-group col-md-6">
                        <label for="your-name" class="col-form-label">Your Name</label>
                        <input type="text" class="form-control" id="your-name" name="yourname" required="true">
                </div>

                <div class="form-group col-md-6">
                    <label for="your-email" class="col-form-label">Your Email</label>
                    <input type="email" class="form-control" id="your-email" name="yourname" required="true">
                </div>

                <div class="form-group col-md-6">
                    <label htmlFor="message">Your Message</label>
                    <textarea name id="message" cols={190} rows={20} className="form-control"/>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Register">
                    </div>
                </div>
                <p><a href="mailto:info@yourdomainname.com" className="btn btn-primary btn-outline">Contact Us</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>